@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
}

body {
  /* background-image: url(https://img.freepik.com/free-photo/top-view-old-film-strip_1150-6697.jpg?t=st=1721823307~exp=1721826907~hmac=a88ecfac76a0336a28d05e1c45a055498bb8c484ef009040e36cbb95a5378c9f&w=996); */
  background-repeat: no-repeat;
  background-color: #e9b393;
  background-size: cover;
  background-position: center center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.with-shadow {
  @apply flex items-center gap-2 font-medium py-1 px-3 sm:py-1 sm:px-6 border border-black shadow-[-7px_7px_0px_#000];
}

.with-shadow:hover {
  @apply transition-transform duration-300 transform hover:-translate-x-2 hover:translate-y-2 shadow-none;
}
